:root {
  --font-size: 12px !important;
}

/* @media (max-width: 4000px) {
  :root {
    --font-size: 12px !important;
  }
} */

@media (max-width: 913px) {
  .v-data-table-rows-no-data td {
    padding-left: 30vw !important;
    text-align: left !important;
    justify-content: flex-start !important;
  }
}

@media (max-width: 570px) {
  .v-data-table-rows-no-data td {
    padding-left: 25vw !important;
    text-align: left !important;
    justify-content: flex-start !important;
  }
}

@media (max-width: 450px) {
  .v-data-table-rows-no-data td {
    padding-left: 20vw !important;
    text-align: left !important;
    justify-content: flex-start !important;
  }
}

@media (max-width: 400px) {
  .v-data-table-rows-no-data td {
    padding-left: 15vw !important;
    text-align: left !important;
    justify-content: flex-start !important;
  }
}

html {
  font-size: var(--font-size) !important;
}

body {
  font-size: 1rem;
}

.v-application {
  font-size: 1rem !important; /* Scale all Vuetify components */
}

.v-application * {
  font-size: inherit !important;
}
